@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using BusinessLogicalLayer;
@using Domain;


@{
    ViewData["Title"] = "Colaborador";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Colaborador</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/css/endereco.css" rel="stylesheet" />
    <link href="~/css/styleColaborador.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    <main id="page-create-point">
        <header>
            <img src="~/images/icons/OdontoTechV2.png" alt="logo" height="70" width="70" data-atf="1" />

            <a href="/Home/Dashboard">
                <span></span>
                Voltar para home
            </a>
        </header>

        <form action="/Home/Colaborador" method="post">

            <h2 id="balance">Cadastro Colaborador <img src="~/images/iconfinder_OUTLINE_Bussiness_and_Media-03_4041194.png" alt="logo" height="50" width="50" data-atf="1" /></h2>
            @{

                ColaboradorBLL colaboradorBLL = new ColaboradorBLL();
                FuncaoBLL funcaoBLL = new FuncaoBLL();
                EnderecoBLL enderecoBLL = new EnderecoBLL();
                EstoqueBLL estoqueBLL = new EstoqueBLL();
                PacienteBLL pacienteBLL = new PacienteBLL();
                ClinicaBLL clinicaBLL = new ClinicaBLL();
                LogradouroBLL logradouroBLL = new LogradouroBLL();

                var listaFuncoes = funcaoBLL.GetAll();
                var listaColaboradores = colaboradorBLL.GetAll();
                var listaEnderecos = enderecoBLL.GetAll();
                var listaEstoque = estoqueBLL.GetAll();
                var listaLogradouros = logradouroBLL.GetAll();
                var listaClinicas = clinicaBLL.GetAll();


            }
        <fieldset>

            <div class="field-group">

                @* nomeColaborador *@
                <div class="field">
                    <label for="valor">Nome da Colaborador</label>
                    <input type="text" name="nomeColaborador" value="@ViewBag.nomeColaborador" />
                </div>

                @* funcao *@
                <div class="field">
                    <label for="state">Função</label>
                    <select name="funcao" id="state">
                        <option value="@ViewBag.funcao">Selecione a Função</option>

                        @{ for (int i = 0; i < listaFuncoes.Count; i++)
                            {
                                <option value="@listaFuncoes[i].Id">@listaFuncoes[i].Nome</option>
                            }}

                    </select>
                    <a style="color:blue;font-size:13px" href="/Home/Funcao">♻ Gerenciar Funções</a>
                    <input type="hidden" name="funcao" />
                </div>


            </div>

            <div class="field-group">

                @* cro *@
                <div class="field">
                    <label for="cro">CRO</label>
                    <input type="text" name="cro" value="@ViewBag.cro" />
                </div>

                @* croEstado *@
                <div class="field">
                    <label for="state">CRO Estado</label>
                    <select name="croEstado" id="croEstado">

                        <option value="@ViewBag.croEstado">Selecione o CRO Estado</option>
                        <option value="AC">Acre (AC)</option>
                        <option value="AL">Alagoas (AL)</option>
                        <option value="AP">Amapá (AP)</option>
                        <option value="BA">Bahia (BA)</option>
                        <option value="CE">Ceará (CE)</option>
                        <option value="ES">Espírito Santo (ES)</option>
                        <option value="GO">Goiás (GO)</option>
                        <option value="MA">Maranhão (MA)</option>
                        <option value="MT">Mato Grosso (MT)</option>
                        <option value="MG">Minas Gerais (MG)</option>
                        <option value="PA">Pará (PA)</option>
                        <option value="PE">Pernambuco (PE)</option>
                        <option value="PI">Piauí (PI)</option>
                        <option value="RJ">Rio de Janeiro (RJ)</option>
                        <option value="RN">Rio Grande do Norte (RN)</option>
                        <option value="RS">Rio Grande do Sul (RS)</option>
                        <option value="SP">São Paulo (SP)</option>
                        <option value="SE">Sergipe (SE)</option>
                        <option value="TO">Tocantins (TO)</option>
                        <option value="DF">Distrito Federal (DF)</option>

                    </select>
                    <input type="hidden" name="croEstado" />
                </div>

                @* clinica *@
                <div class="field">
                    <label for="clinica">Clínica</label>
                    <select name="clinica" id="clinica">
                        <option value="@ViewBag.funcao">Selecione a Clínica</option>

                        @{ for (int i = 0; i < listaClinicas.Count; i++)
                            {
                                <option value="@listaClinicas[i].Id">@listaClinicas[i].Nome</option>
                            }}

                    </select>

                    <input type="hidden" name="clinica" />
                </div>

            </div>

            <div class="field-group">

                @* dataAdmissao *@
                <div class="field">
                    <label for="dataAdmissao">Data de Admissao</label>
                    <input type="date" name="dataAdmissao" value="@ViewBag.dataAdmissao" />
                </div>

                @* dataDemissao *@
                <div class="field">
                    <label for="dataDemissao">Data de Demissão</label>
                    <input type="date" name="dataDemissao" value="@ViewBag.dataDemissao" />
                </div>


            </div>


            <div class="field-group">

                @* Endereço  *@
                <div class="field">
                    <label style="font-size:17px" for="dados">Dados de Endereço</label>
                    <br />
                    <div class="field-group">
                        <div class="field">
                            <label for="state">Estado</label>
                            <select name="uf" id="state">
                                <option value="@ViewBag.uf">Selecione o estado</option>
                            </select>

                            <input type="hidden" name="state" />
                        </div>

                        <div class="field">
                            <label for="city">Cidade</label>
                            <select name="city" id="city">
                                <option value="@ViewBag.city">Selecione a cidade</option>

                            </select>
                            <input type="hidden" name="city" />
                        </div>

                        <div class="field">
                            <label for="Bairro">Bairro</label>
                            <input type="text" name="bairro" value="@ViewBag.bairro">

                        </div>


                    </div>


                    <div class="field-group">
                        <div class="field">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" name="logradouro" value="@ViewBag.logradouro">

                        </div>
                        <div class="field">
                            <label for="cep">CEP</label>
                            <input type="text" name="cep" value="@ViewBag.cep">

                        </div>

                        <div class="field">
                            <label for="numeroCasa">Numero da Casa</label>
                            <input type="number" name="numeroCasa" value="@ViewBag.numeroCasa">

                        </div>
                    </div>
                </div>
            </div>


            <div class="field-group">

                @* ferias *@
                <div class="field">
                    <label class="custom-checkbox" tab-index="0" aria-label="Another Label">
                        <input type="checkbox" name="ferias" value="@ViewBag.ferias">
                        <span class="checkmark"></span>
                        <span class="label">Férias</span>
                    </label>
                </div>

                @* demitido *@
                <div class="field">
                    <label class="custom-checkbox" tab-index="0" aria-label="Another Label">
                        <input type="checkbox" name="demitido" value="@ViewBag.demitido">
                        <span class="checkmark"></span>
                        <span class="label">Demitido</span>
                    </label>
                </div>



            </div>


            <div class="field-group">
                <div class="field">

                    <button type="submit" id="newState" name="saveBtn" value="Salvar">Salvar</button>
                    <input type="hidden" name="saveBtn" value="@ViewBag.saveBtn" />


                </div>

                <div class="field">
                    <button type="submit" id="newState" name="saveBtn2" value="Deletar">Deletar</button>
                    <input type="hidden" name="saveBtn2" value="@ViewBag.saveBtn2" />

                </div>

            </div>

            @{
                if (Convert.ToString(ViewData["result"]) != "")
                {
                    if (Convert.ToString(ViewData["result"]).Contains("!"))
                    {
                        <label style="color:green;font-size:13px"> @ViewData["result"] </label>
                    }
                    else
                    {

                        <label style="color:red;font-size:13px"> @ViewData["result"] </label>
                    }

                }

            }

            <br />

            <h2 id="balance">Lista de Colaboradores</h2>

            <br />

            @for (int i = 0; i < listaColaboradores.Count; i++)
            {

                Endereco e = enderecoBLL.GetById(listaColaboradores[i].Endereco);

                listaColaboradores[i].Funcao = funcaoBLL.GetById(listaColaboradores[i].Funcao);
                listaColaboradores[i].Clinica = clinicaBLL.GetById(listaColaboradores[i].Clinica);
                <input type="radio" name="idSelecionado" value="@listaColaboradores[i].Id" />

                <label> <b>ID:</b> @listaColaboradores[i].Id</label>
                <label> <b>Nome:</b> @listaColaboradores[i].Nome</label>
                <label> <b>Função:</b> @listaColaboradores[i].Funcao.Nome</label>
                <label> <b>CRO:</b> @listaColaboradores[i].Cro</label>
                <label> <b>CRO Estado:</b> @listaColaboradores[i].CroEstado</label>
                <label> <b>Data Admissão:</b> @listaColaboradores[i].DataAdmissao</label>
                <label> <b>Data Demissão:</b> @listaColaboradores[i].DataDemissao</label>
                <label> <b>Endereço:</b> @listaLogradouros[i].Nome - @e.NumeroCasa</label>
                <label> <b>Clínica:</b> @listaColaboradores[i].Clinica.Nome</label>
                <label>
                    <b>Férias:</b>              @if (listaColaboradores[i].Ferias)
                    {<img src="~/images/atendido.png" alt="logo" height="20" width="20" data-atf="1" /> }
                    else
                    {<img src="~/images/uncheck.png" alt="logo" height="20" width="20" data-atf="1" />}


                </label>





                <label>
                    <b>Demitido:</b> @if (listaColaboradores[i].Demitido)
                    {<img src="~/images/atendido.png" alt="logo" height="20" width="20" data-atf="1" /> }
                    else
                    {<img src="~/images/uncheck.png" alt="logo" height="20" width="20" data-atf="1" />}
                </label>


                <br />
                <br />
                <br />

            }




            <br />
            <br />
            <input checked type="radio" name="idSelecionado" value="" /> <label> Nenhum </label>
        </fieldset>
        </form>
    </main>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/js/viacep.js"></script>
    <script src="~/js/viacepJSandJson.js"></script>
    <script src="~/js/endereco.js"></script>

</body>
</html>