@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using BusinessLogicalLayer;
@using Domain;

@{
    ViewData["Title"] = "Despesa";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Despesa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/css/endereco.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    <main id="page-create-point">
        <header>
            <img src="~/images/icons/OdontoTechV2.png" alt="logo" height="70" width="70" data-atf="1" />

            <a href="/Home/Dashboard">
                <span></span>
                Voltar para home
            </a>

            <center>
                <a style="color:blue" href="/Home/Finances">Ir para finanças $</a>
            </center>
        </header>

        <form action="/Home/Despesa" method="post">

            <h2 id="balance"><img src="~/images/iconfinder_wallet-money-credit_card-payment_method_4288572.png" alt="logo" height="50" width="50" data-atf="1" />Cadastro Despesa</h2>
            @{

                DespesaBLL despesa = new DespesaBLL();
                List<Despesa> lista = despesa.GetAll();


            }
            <fieldset>
                <div class="field-group">

                    <div class="field">
                        <label for="valor">Valor</label>
                        <input type="number" name="valor" value="@ViewBag.valor" />
                    </div>

                    <div class="field">
                        <label for="descricao">Descrição</label>
                        <input type="text" name="descricao" value="@ViewBag.descricao" />
                    </div>

                    <div class="field">
                        <label for="idTipoPagamento">Data da Despesa</label>

                        <input type="datetime-local" name="data" value="@ViewBag.data" />
                    </div>



                </div>

              

                <div class="field-group">
                    <div class="field">

                        <button type="submit" id="newState" name="saveBtn" value="Salvar">Salvar</button>
                        <input type="hidden" name="saveBtn" value="@ViewBag.saveBtn" />


                    </div>

                    <div class="field">
                        <button type="submit" id="newState" name="saveBtn2" value="Deletar">Deletar</button>
                        <input type="hidden" name="saveBtn2" value="@ViewBag.saveBtn2" />

                    </div>

                </div>

                @{
                    if (Convert.ToString(ViewData["result"]) != "")
                    {
                        if (Convert.ToString(ViewData["result"]).Contains("!"))
                        {
                            <label style="color:green;font-size:13px"> @ViewData["result"] </label>
                        }
                        else
                        {

                            <label style="color:red;font-size:13px"> @ViewData["result"] </label>
                        }

                    }

                }

                <br />
                <br />

                <h2 id="balance">Lista de despesas</h2>

                <br />

                @for (int i = 0; i < lista.Count; i++)
                {

                 
                    <input type="radio" name="idSelecionado" value="@lista[i].idDespesa" /> <label> <b>ID:</b> @lista[i].idDespesa</label>
                    <label> <b>Valor:</b> @lista[i].Valor</label> <label> <b>Descrição:</b> @lista[i].Descricao </label>
                    <label> <b>Data:</b> @lista[i].Data</label> <br />



                }
                <br />
                <br />
                <input checked type="radio" name="idSelecionado" value="" /> <label> Nenhum </label>
            </fieldset>
        </form>
    </main>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/js/viacep.js"></script>
    <script src="~/js/viacepJSandJson.js"></script>
    <script src="~/js/endereco.js"></script>

</body>
</html>