@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Domain;
@using BusinessLogicalLayer;
@{
    ViewData["Title"] = "Estoque";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Estado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/css/endereco.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    <main id="page-create-point">
        <header>
            <img src="~/images/icons/OdontoTechV2.png" alt="logo" height="70" width="70" data-atf="1" />

            <a href="/Home/Dashboard">
                <span></span>
                Voltar para Home
            </a>
        </header>

        <form action="/Home/Estoque" method="post">

            <h2 id="balance"> <img src="~/images/estoque.png" alt="logo" height="50" width="50" data-atf="1" />Adicionar no estoque
            </h2>
            @{
                EstoqueBLL bll = new EstoqueBLL();
                List<Estoque> lista = bll.GetAll();
                ProdutoBLL prdt = new ProdutoBLL();
                List<Produto> produtos = prdt.GetAll();

            }
        <fieldset>
            <div class="field-group">


                <div class="field">
                    <label for="IDproduto">Produto</label>

                    <select name="IDproduto" id="IDproduto" required>

                        <option value=" ">Selecione o Produto</option>

                        @{ for (int i = 0; i < produtos.Count; i++)
                            {
                                <option value="@produtos[i].Id">@produtos[i].Nome</option>
                            }}

                    </select>
                    <a style="color:blue;font-size:13px" href="/Home/Produto">♻ Gerenciar Produtos</a>
                    <input type="hidden" name="IDproduto" value="@ViewBag.IDproduto" />
                </div>

                <div class="field">
                    <label for="qtdProduto">Quantidade</label>
                    <input type="number" name="qtdProduto" value="@ViewBag.qtdProduto" />
                </div>
            </div>

            <div class="field-group">


                <div class="field">
                    <label for="dataentrada">Data de Entrada</label>
                    <input type="datetime-local" name="dataentrada" value="@ViewBag.dataentrada" />
                </div>

                <div class="field">
                    <label for="datasaida">Data de Saida</label>
                    <input type="datetime-local" name="datasaida" value="@ViewBag.datasaida" />
                </div>

            </div>



            <div class="field-group">
                <div class="field">

                    <button type="submit" id="newState" name="saveBtn" value="Salvar">Salvar</button>
                    <input type="hidden" name="saveBtn" value="@ViewBag.saveBtn" />


                </div>

                <div class="field">
                    <button type="submit" id="newState" name="saveBtn2" value="Deletar">Deletar</button>
                    <input type="hidden" name="saveBtn2" value="@ViewBag.saveBtn2" />

                </div>

            </div>

            @{
                if (Convert.ToString(ViewData["result"]) != "")
                {
                    if (Convert.ToString(ViewData["result"]).Contains("!"))
                    {
                        <label style="color:green;font-size:13px"> @ViewData["result"] </label>
                    }
                    else
                    {

                        <label style="color:red;font-size:13px"> @ViewData["result"] </label>
                    }

                }

            }

            <br />
            <br />

            <h2 id="balance">Lista de Tipos de Procedimentos</h2>

            <br />

            @for (int i = 0; i < lista.Count; i++)
            {

                ProdutoBLL pcdbll = new ProdutoBLL();
                lista[i].Produto = pcdbll.GetById(lista[i].Produto);

                <input type="radio" name="idSelecionado" value="@lista[i].Id" /> <label> <b>ID:</b> @lista[i].Id</label> <label> <b>Produto:</b> @lista[i].Produto.Nome</label> <label> <b>Quantidade:</b> @lista[i].QtdProduto </label> <label> <b>Data de enstrada:</b> @lista[i].DataEntrada </label> <label> <b>Data de saida:</b> @lista[i].DataSaida </label> <br />

            }
            <br />
            <br />
            <input checked type="radio" name="idSelecionado" value="" /> <label> Nenhum </label>

        </fieldset>
        </form>
    </main>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/js/viacep.js"></script>
    <script src="~/js/viacepJSandJson.js"></script>
    <script src="~/js/endereco.js"></script>

</body>

</html>


