@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DataAccessLayer;
@using Domain;
@using BusinessLogicalLayer;
@{
    ViewData["Title"] = "Finances";
}
<link href="~/css/endereco.css" rel="stylesheet" />
<link href="~/css/paciente.css" rel="stylesheet" />
<link href="~/css/paciente.css" rel="stylesheet" />

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/css/finances.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet" />

    <title>Finances | OdontoTech</title>


</head>

<body style="margin:10%">




    <header>
   
        <a style="position:relative" href="/Home/Dashboard">
            <img style="position:relative" src="~/images/icons/OdontoTechV2.png" alt="logo" height="70" width="70" data-atf="1" /><br /> ⟲ Voltar para home
        </a>

            @*//Não consegui configurar no CSS, os <br /> estao funcionando*@
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
    </header>

  


    @{
        DespesaBLL despesaBLL = new DespesaBLL();
        List<Despesa> despesas = despesaBLL.GetAll();


        PagamentoBLL PagamentoBLL = new PagamentoBLL();
        List<Pagamento> pgmt = PagamentoBLL.GetAll();

        double saida = 0;
        double entrada = 0;

        for (int i = 0; i < despesas.Count; i++)
        {

            saida += despesas[i].Valor;
        }
        for (int i = 0; i < pgmt.Count; i++)
        {

            entrada += pgmt[i].ValorPagamento;
        }

        double total = entrada - saida;


        //String Format TOTAL

        string totalstring = Convert.ToString(total);

        int contrador = 0;
        bool achoudecimal = false;

        string valorx = "";

        for (int i = 0; i < totalstring.Length; i++)
        {
            valorx += totalstring[i];
            if (achoudecimal)
            {
                contrador++;
                if (contrador == 2)
                {


                    break;
                }
            }
            if (totalstring[i] == ',')
            {
                achoudecimal = true;
            }
        }
        total = Convert.ToDouble(valorx);


        //String format Esntrada

        totalstring = Convert.ToString(entrada);

        contrador = 0;
        achoudecimal = false;

        valorx = "";

        for (int i = 0; i < totalstring.Length; i++)
        {
            valorx += totalstring[i];
            if (achoudecimal)
            {
                contrador++;
                if (contrador == 2)
                {


                    break;
                }
            }
            if (totalstring[i] == ',')
            {
                achoudecimal = true;
            }
        }
        entrada = Convert.ToDouble(valorx);


        // String format saida

        totalstring = Convert.ToString(saida);

        contrador = 0;
        achoudecimal = false;

        valorx = "";

        for (int i = 0; i < totalstring.Length; i++)
        {
            valorx += totalstring[i];
            if (achoudecimal)
            {
                contrador++;
                if (contrador == 2)
                {


                    break;
                }
            }
            if (totalstring[i] == ',')
            {
                achoudecimal = true;
            }
        }
        saida = Convert.ToDouble(valorx);



    }
    <main class="container">
        <section id="balance">
            <h2 class="sr-only">Balanço</h2>
            <div class="card">
                <h3>
                    <span>Entradas</span>
                    <img src="~/images/assets/income.svg" alt="Imagem de entradas" />
                </h3>
                <label style="font-family:Poppins-Regular;color:black;font-size:2rem"> R$ @entrada</label>
            </div>

            <div class="card">
                <h3>
                    <span>Saídas</span>
                    <img src="~/images/assets/expense.svg" alt="Imagem de saídas" />
                </h3>
                <label style="font-family:Poppins-Regular;color:black;font-size:2rem"> R$ @saida</label>
            </div>

            <div class="card total">
                <h3>
                    <span style="color:white">Total</span>
                    <img src="~/images/assets/total.svg" alt="Imagem do total" />
                </h3>
                <label style="font-family:Poppins-Regular;color:white;font-size:2rem"> R$ @total </label>
            </div>
        </section>




    </main>




    <main class="container">
        <form action="/Home/Finances" method="post">

            <label style="font-size:20px"> Despesas <a href="/Home/Despesa">Adicionar Dispesas</a></label>
            <section id="transaction">
                <table id="data-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < despesas.Count; i++)
                        {

                            <tr>
                                <td>

                                    <input type="radio" name="idSelecionadoDispesa" value="@despesas[i].idDespesa" />
                                </td>
                                <td>
                                    @despesas[i].idDespesa
                                </td>



                                <td>
                                    @despesas[i].Data
                                </td>


                                <td style="color:red">
                                    @despesas[i].Valor
                                </td>


                                <td>
                                    @despesas[i].Descricao
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
                @{
                    <fieldset>
                        <div class="field-group">
                            <div class="field">
                                <center>

                                    <label>Nenhum</label> <input checked type="radio" name="idSelecionadoDispesa" value="0" /> <button name="saveBtn2" value="Deletar" style="background-color:transparent" type="submit"> 🗑️ </button>
                                </center>

                            </div>


                        </div>
                    </fieldset>
                }
                @{
                    if (Convert.ToString(ViewData["resultA"]) != "")
                    {
                        if (Convert.ToString(ViewData["resultA"]).Contains("!"))
                        {
                            <label style="color:green;font-size:13px"> @ViewData["resultA"] </label>
                        }
                        else
                        {

                            <label style="color:red;font-size:13px"> @ViewData["resultA"] </label>
                        }

                    }

                }
            </section>
            <label style="font-size:20px"> Pagamentos  <a href="/Home/Pagamento">Adicionar Pagamentos</a></label>
            <section id="transaction">
                <table id="data-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Paciente</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < pgmt.Count; i++)
                            {

                                PacienteBLL pacienteBLL = new PacienteBLL();
                                pgmt[i].Paciente = pacienteBLL.GetById(pgmt[i].Paciente);


                                <tr>
                                    <td>
                                        <input type="radio" name="idSelecionado" value="@pgmt[i].Id" />
                                    </td>
                                    <td>

                                        @pgmt[i].Id
                                    </td>





                                    <td>
                                        @pgmt[i].DataPagamento
                                    </td>



                                    <td style="color:lawngreen">
                                        @pgmt[i].ValorPagamento
                                    </td>

                                    <td>
                                        @pgmt[i].Paciente.Nome
                                    </td>

                                </tr>

                            }
                        }
                    </tbody>
                </table>
                @{
                    <fieldset>
                        <div class="field-group">
                            <div class="field">
                                <center>

                                    <label>Nenhum</label> <input checked type="radio" name="idSelecionado" value="0" /> <button name="saveBtn2" value="Deletar" style="background-color:transparent" type="submit"> 🗑️ </button>
                                </center>

                            </div>


                        </div>
                    </fieldset>
                }
            </section>
            @{
                if (Convert.ToString(ViewData["resultB"]) != "")
                {
                    if (Convert.ToString(ViewData["resultB"]).Contains("!"))
                    {
                        <label style="color:green;font-size:13px"> @ViewData["resultB"] </label>
                    }
                    else
                    {

                        <label style="color:red;font-size:13px"> @ViewData["resultB"] </label>
                    }

                }

            }
        </form>

    </main>
    <footer>
        <p>@DateTime.Now.Year - OdontoTech</p>
    </footer>

    <script src="~/js/finances.js"></script>

</body>

</html>
