@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/util.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="/Home/VerificadorLogin" method="post">
                    <span class="login100-form-title p-b-26">
                        Bem Vindo
                    </span>
                    <span class="login100-form-title p-b-48">
                        @*<img src="https://media.discordapp.net/attachments/796085546358800414/806672131295150080/OdontoTechV1.png" alt="logo" height="100" width="100" data-atf="1">*@
                        <img src="~/images/icons/OdontoTechV2.png"  alt="logo" height="100" width="100" data-atf="1"/>
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                        <input class="input100" type="text" name="email" value="@ViewBag.Email">
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Insira sua senha">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="pass" value="@ViewBag.Senha">
                        <span class="focus-input100" data-placeholder="Senha"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Entrar
                            </button>
                        </div>
                    </div>
                    <center>



                        @{
                            if (TempData["loginfaild"] != null)
                            {
                                if (Convert.ToString(TempData["loginfaild"]).Contains("!"))
                                {
                                    <label style="color:green;font-size: 13px;"> @TempData["loginfaild"] </label>
                                }
                                else if (Convert.ToString(TempData["loginfaild"]).Contains("Alterada"))
                                {
                                    <label style="color:green;font-size: 13px;"> @TempData["loginfaild"] </label>
                                }
                                else
                                {
                                    <label style="color:red;font-size: 13px;"> @TempData["loginfaild"] </label>

                                }
                            }
                        }

                        @{
                            if (TempData["result"] != null)
                            {
                                if (Convert.ToString(TempData["result"]).Contains("!"))
                                {
                                    <label style="color:green;font-size: 13px;"> @TempData["result"] </label>
                                }
                                else if (Convert.ToString(TempData["result"]).Contains("Alterada"))
                                {
                                    <label style="color:green;font-size: 13px;"> @TempData["result"] </label>
                                }
                                else
                                {
                                    <label style="color:red;font-size: 13px;"> @TempData["result"] </label>

                                }
                            }
                        }
                    </center>

                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Esqueceu sua senha?
                        </span>
                        <a class="txt2" href="/Home/RecuperarSenha">
                            Recuperar Senha
                        </a>

                        <br>
                        <span class="txt1">
                            Não tem uma conta?
                        </span>
                        <a class="txt2" href="/Home/SignUp">
                            Inscrever-se
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="./js/site.js"></script>

</body>
</html>