@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Paciente";
}
@using DataAccessLayer;
@using Domain;
@using BusinessLogicalLayer;



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Estado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/css/endereco.css" rel="stylesheet" />

    <link href="~/css/paciente.css" rel="stylesheet" />

    <!--===============================================================================================-->
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    <main id="page-create-point">
        <header>
            <img src="~/images/icons/OdontoTechV2.png" alt="logo" height="70" width="70" data-atf="1" />

            <a href="/Home/Dashboard">
                <span></span>
                Voltar para home
            </a>
        </header>

        <form action="/Home/Paciente" method="post">

            <h2 id="balance"> <img src="~/images/paciente e deintista.jpg" alt="logo" height="50" width="50" data-atf="1" />Cadastro Paciente</h2>
            @{
                PacienteBLL bll = new PacienteBLL();
                List<Paciente> item = bll.GetAll();


            }
            <fieldset>
                <label style="font-size:17px" for="dados">Dados Pessoais</label>
                <br />
                <br />
                <div class="field-group">

                    <div class="field">
                        <label for="firstName">Nome</label>
                        <input type="text" name="firstName" value="@ViewBag.firstName">
                    </div>

                    <div class="field">
                        <label for="lastName">Sobrenome</label>
                        <input type="text" name="lastName" value="@ViewBag.lastName">

                    </div>
                    <div class="field">

                        <label for="cpf">CPF</label>

                        <input type="text" name="cpf" value="@ViewBag.cpf">


                    </div>

                </div>

                <div class="field-group">


                    <div class="field">
                        <label for="rg">Registro Geral</label>

                        <input type="text" name="rg" value="@ViewBag.rg">


                    </div>




                    <div class="field">
                        <label for="dtNascimento">Data de Nascimento</label>
                        <input type="date" name="dtNascimento" value="@ViewBag.dtNascimento">


                    </div>
                    <div class="field">
                        <label for="observacoes">Observações</label>
                        <input type="text" name="observacoes" value="@ViewBag.observacoes">


                    </div>

                </div>
                <br />     <br />

                <label style="font-size:17px" for="dados">Dados de Endereço</label>
                <br />
                <br />
                <div class="field-group">
                    <div class="field">
                        <label for="state">Estado</label>
                        <select name="uf" id="state">
                            <option value="@ViewBag.uf">Selecione o estado</option>
                        </select>

                        <input type="hidden" name="state" />
                    </div>

                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" id="city">
                            <option value="@ViewBag.city">Selecione a cidade</option>

                        </select>
                        <input type="hidden" name="city" />
                    </div>

                    <div class="field">
                        <label for="Bairro">Bairro</label>
                        <input type="text" name="bairro" value="@ViewBag.bairro">

                    </div>


                </div>



                <div class="field-group">

                    <div class="field-group">
                        <div class="field">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" name="logradouro" value="@ViewBag.logradouro">

                        </div>
                        <div class="field">
                            <label for="cep">CEP</label>
                            <input type="text" name="cep" value="@ViewBag.cep">

                        </div>

                        <div class="field">
                            <label for="numeroCasa">Numero da Casa</label>
                            <input type="text" name="numeroCasa" value="@ViewBag.numeroCasa">

                        </div>




                    </div>
                </div>

                <div class="field-group">
                    <div class="field">

                        <button type="submit" id="newState" name="saveBtn" value="Salvar">Salvar</button>
                        <input type="hidden" name="saveBtn" value="@ViewBag.saveBtn" />


                    </div>

                    <div class="field">
                        <button type="submit" id="newState" name="saveBtn2" value="Deletar">Deletar</button>
                        <input type="hidden" name="saveBtn2" value="@ViewBag.saveBtn2" />

                    </div>

                </div>
                @{
                    if (Convert.ToString(ViewData["result"]) != "")
                    {
                        if (Convert.ToString(ViewData["result"]).Contains("!"))
                        {
                            <label style="color:green;font-size:13px"> @ViewData["result"] </label>
                        }
                        else
                        {

                            <label style="color:red;font-size:13px"> @ViewData["result"] </label>
                        }

                    }

                }

                <br />
                <br />

                <h2 id="balance">Lista de Pacientes</h2>

                <br />


                <section id="transaction">
                    <table id="data-table">
                        <thead>

                            <tr>
                                @*<th class="description">#</th>*@
                                <th>ID</th>
                                <th>Nome Completo</th>
                                <th>RG</th>
                                <th>CPF</th>
                                <th>Data de nascimento</th>
                                <th>Observações</th>
                                <th>CEP</th>


                            </tr>

                        </thead>

                        <tbody>
                            @for (int i = 0; i < item.Count; i++)
                            {
                                <tr>

                                    <td>
                                        <input type="radio" name="idSelecionado" value="@item[i].Id" />
                                        @item[i].Id
                                    </td>

                                    <td>
                                        @item[i].Nome @item[i].Sobrenome
                                    </td>

                                    <td>
                                        @item[i].Rg
                                    </td>

                                    <td>
                                        @item[i].Cpf
                                    </td>
                                    <td>
                                        @item[i].DataNascimento
                                    </td>
                                    <td>
                                        @item[i].Observacao
                                    </td>
                                        @{
                                            EnderecoBLL endereco = new EnderecoBLL();
                                            LogradouroBLL logradouro = new LogradouroBLL();
                                            item[i].Endereco = endereco.GetById(item[i].Endereco);
                                            item[i].Endereco.Logradouro = logradouro.GetById(item[i].Endereco.Logradouro);
                                       

                                           }
                                <td>
                                    @item[i].Endereco.Logradouro.Nome, @item[i].Endereco.Cep

                                </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </section>






                <br />
                <br />
                <input checked type="radio" name="idSelecionado" value="" /> <label> Nenhum </label>
            </fieldset>
        </form>
    </main>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/js/viacep.js"></script>
    <script src="~/js/viacepJSandJson.js"></script>
    <script src="~/js/endereco.js"></script>

</body>

</html>




