@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Produto";
}



@using BusinessLogicalLayer;
@using Domain;


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Estado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/css/endereco.css" rel="stylesheet" />
    <link href="~/css/paciente.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    <main id="page-create-point">
        <header>
            <img src="~/images/icons/OdontoTechV2.png" alt="logo" height="70" width="70" data-atf="1" />

            <a href="/Home/Dashboard">
                <span></span>
                Voltar para home
            </a>
        </header>

        <form action="/Home/Produto" method="post">

            <h2 id="balance">  <img src="~/images/shopping-status-produtos.png" alt="logo" height="50" width="50" data-atf="1" /> Cadastro Produto </h2>
            @{
                ProdutoBLL bll = new ProdutoBLL();
                TipoEmbalagemBLL TPD = new TipoEmbalagemBLL();
                List<TipoEmbalagem> LISTATIPO = TPD.GetAll();
                List<Produto> lista = bll.GetAll();

            }
        <fieldset>
            <div class="field-group">
                <div class="field">
                    <label for="nomeProduto">Nome do Produto</label>

                    <input type="text" name="nomeProduto" value="@ViewBag.nomeProduto" />

                </div>
                <div class="field">
                    <label for="precoProduto"> <img src="/images/f5488f7af15452c26a5cd481f3501dfe.png" sheight="10" width="10" alt="Alternate Text" />Preço do Produto</label>

                    <input type="number" name="precoProduto" value="@ViewBag.precoProduto" />
                </div>

            </div>

            <div class="field-group">

                <div class="field">
                    <label for="tipoembalaid">Embalagem</label>
                    <select name="tipoembalaid" id="tipoembalaid" required>
                        <option value=" ">Selecione o Tipo de Embalagem</option>

                        @{ for (int i = 0; i < LISTATIPO.Count; i++)
                            {
                                <option value="@LISTATIPO[i].Id">@LISTATIPO[i].Descricao</option>
                            }}

                    </select>
                    <a style="color:blue;font-size:13px" href="/Home/TipoEmbalagem">♻ Gerenciar Tipos de Embalagem</a>
                    <input type="hidden" name="tipoembalaid" value="@ViewBag.tipoembalaid" />
                </div>


                <div class="field">

                    <label for="dtcompra">Data de Compra</label>

                    <input type="datetime-local" name="dtcompra" value="@ViewBag.dtcompra" />

                </div>
            </div>




            <div class="field-group">
                <div class="field">

                    <button type="submit" id="newState" name="saveBtn" value="Salvar">Salvar</button>
                    <input type="hidden" name="saveBtn" value="@ViewBag.saveBtn" />


                </div>

                <div class="field">
                    <button type="submit" id="newState" name="saveBtn2" value="Deletar">Deletar</button>
                    <input type="hidden" name="saveBtn2" value="@ViewBag.saveBtn2" />

                </div>

            </div>

            @{
                if (Convert.ToString(ViewData["result"]) != "")
                {
                    if (Convert.ToString(ViewData["result"]).Contains("!"))
                    {
                        <label style="color:green;font-size:13px"> @ViewData["result"] </label>
                    }
                    else
                    {

                        <label style="color:red;font-size:13px"> @ViewData["result"] </label>
                    }

                }

            }



                    <h2 id="balance">Lista de Produto</h2>



                    <br />



                    <section id="transaction">
                        <table id="data-table">
                            <thead>

                                <tr>
                                    @*<th class="description">#</th>*@
                                    <th>ID</th>
                                    <th>Produto</th>
                                    <th>Preço</th>
                                    <th>Embalagem</th>
                                    <th>Data da compra</th>
                          
                    


                                </tr>

                            </thead>

                            <tbody>
                                @for (int i = 0; i < lista.Count; i++)
                                {
                                    <tr>

                                        <td>
                                            <input type="radio" name="idSelecionado" value="@lista[i].Id" />
                                            @lista[i].Id
                                        </td>

                                        <td>
                                            @lista[i].Nome
                                        </td>

                                        <td>
                                            @lista[i].Preco
                                        </td>

                                        <td>
                                            @lista[i].DataCompra
                                        </td>
                                        <td>
                                            @{TipoEmbalagemBLL embalagem = new TipoEmbalagemBLL();
                                            lista[i].TipoEmbalagem = embalagem.GetById(lista[i].TipoEmbalagem);}
                                            @lista[i].TipoEmbalagem.Descricao
                                        </td>
                                       
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </section>




                    <!--===============================================================================================-->
                    <script src="~/VENDORTABLE/vendor/jquery/jquery-3.2.1.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/VENDORTABLE/vendor/bootstrap/js/popper.js"></script>
                    <script src="~/VENDORTABLE/vendor/bootstrap/js/bootstrap.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/VENDORTABLE/vendor/select2/select2.min.js"></script>
                    <!--===============================================================================================-->




                    <br />
                    <br />
                    <input checked  type="radio" name="idSelecionado" value="" /> <label> Nenhum </label>
</fieldset>
        </form>
    </main>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/js/viacep.js"></script>
    <script src="~/js/viacepJSandJson.js"></script>
    <script src="~/js/endereco.js"></script>

</body>
</html>




